<div class="text-center">
    <h1 class="display-4">Soy Michael Williams</h1>
    <i class="alarm"></i>
    <h2>Soy un desarrollador full stack especializado en tecnologias .NET</h2>
    <img id="foto"
         src="~/images/fotoperfil.jpg" alt="Foto de Michael Williams" />
    @*~ Este simbolo sirve para indicar el root o raiz de la app.*@
</div>

<div class="text-center">
    <img id="img-dot-net"
         src="~/images/fotodotnet.png" alt="Foto de .NET" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Welcome to my portfolio</h1>
        <p>He estado en desarrollo hace mas de 3 años ......... etc</p>
    </div>
</div>