<div style="margin-top: -105px;">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill"></i>
            <h3>Backend</h3>
            <p>Trabajo desde el desarrollo, pruebas automaticas, y puesta en producción con entrega continua</p>

            <p class="text-primary cabecera">Stack:</p>
            <p>ASP .NET Core, Sql Server</p>

            <p class="text-primary cabecera">Experiencia:</p>
            <ul>
                <li>Web APIs</li>
                <li>ASP .NET Core MVC</li>
                <li>Entity Framework</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Solid Principles</li>
            </ul>

        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Frontend</h3>

            <p>Trabajo desde el desarrollo, pruebas automaticas, y puesta en producción con entrega continua</p>

            <p class="text-primary cabecera">Stack:</p>
            <p>React JS, Angular Js</p>

            <p class="text-primary cabecera">Experiencia:</p>
            <ul>
                <li>React Hooks</li>
                <li>Markdown</li>
                <li>jQuery</li>
                <li>Pruebas automaticas</li>
                <li>Html</li>
                <li>Bootstrap</li>
            </ul>

        </div>
    </div>
</div>
